body {
            font-family: Roboto, sans-serif;
            background: linear-gradient(LightBlue, black);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .main {
            background-color: #AFEEEE;
            border-radius: 15px;
            box-shadow: 0 0 20px
                rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 300px;
        }

        .main h2 {
            color: #000000;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding: 15px;
            border-radius: 10px;
            border: none;
            background-color: #E0FFFF;
            color: black;
            cursor: pointer;
            width: 93%;
            font-size: 16px;
        }

        button[type="submit"] {
            padding: 15px;
            border-radius: 10px;
            border: none;
            background-color: #68dbd7;
            color: black;
            cursor: pointer;
            width: 93%;
            font-size: 16px;
        }