body {
            font-family: Roboto, sans-serif;
            background: linear-gradient(LightBlue, black);
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: start;
            align-content: flex-start;
            height: 100vh;
        }

        h2 {
            color: #000000;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            padding: 15px;
            border-radius: 10px;
            border: none;
            background-color: #68dbd7;
            color: black;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }