<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontPage</title>
    <link rel="stylesheet" href="static/style/Front_Page.css">
</head>
<body>
<p></p>
<p></p>
<h2>Добро пожаловать в викторину!</h2>
<p></p>
<form action="login">
    <button type="submit">
        Войти
    </button>
</form>
<p></p>
<form action="register">
    <button type="submit">
        Зарегистрироваться
    </button>
</form>
</body>
</html>