<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
</head>
<body>
<div class="main">
    <h2>Вход</h2>
    <form action="">
        <label for="email">Электронная почта:</label>
        <input
            type="email"
            id="email"
            name="email"
            required
        >
        <label for="password">Пароль:</label>
        <input
            type="password"
            id="password"
            name="password"
            pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$"
            title="Пароль должен содержать хотя бу одну цифру, букву, символ, и быть длиной от 8 символов"
            required
        >
        <p></p>
        <button type="submit">
            Продолжить
        </button>
    </form>
</div>
</body>
</html>