body {
            font-family: Roboto, sans-serif;
            background: linear-gradient(LightBlue, black);
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: start;
            align-content: flex-start;
            height: 100vh;
        }

        h3 {
            color: #000000;
            margin-bottom: 20px;
        }

        .card {
            width: 360px;
            height: auto;
            background-color: #AFEEEE;
            margin: 0 auto;
            margin-top: 80px;
            box-shadow: 0 0 20px
                rgba(0, 0, 0, 0.5);
        }

        .card_face {
            width: 120px;
            height: 120px;
            background-color: #868d9b;
            background: url("лицо.jpg.crdownload");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: 2px solid #ffffff;
            border-radius: 120px;
            margin: 0 auto;
            margin-top: -60px;
        }

        .card_base {
            width: 100%;
            height: 180px;
            background-color: #e1e7ed;
            background: url("планета.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .user_data h3 {
            margin-top: 10px;
            text-align: center;
            word-break: break-all;
        }

        .card_count {
            padding: 30px;
            border-top: 1px solid LightBlue;
        }

        .count {
            display: grid;
            margin-bottom: 28px;
            margin-top: -20px;
        }

        .count p {
            margin-top: -10px;
        }

        .btn {
            padding: 10px;
            width: 94%;
            border: none;
            outline: none;
            border-radius: 10px;
            background-color: #68dbd7;
            color: black;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
        }

        .dropbtn {
            background-color: #AFEEEE;
            color: black;
            padding: 20px;
            font-size: 16px;
            border: none;
            box-shadow: 12px 10px 16px 1px
                rgba(0, 150, 255, 0.2);
            border-radius: 10px;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #AFEEEE;
            min-width: 160px;
            box-shadow: 0px 8px 16px 1px
                rgba(0, 150, 255, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #68dbd7;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #68dbd7;}
